aniso8601==8.0.0
asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
Click==7.0
colorama==0.4.3
Django==3.0.14
fasttext==0.9.1
Flask==1.1.1
Flask-Cors==3.0.9
## !! Could not determine repository location
Flask-RESTful==0.3.8
flask-restplus==0.13.0
flask-restx==0.1.1
flask-swagger==0.2.14
image==1.5.28
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==8.3.2
pybind11==2.4.3
pycodestyle==2.5.0
pylint==2.4.4
pyrsistent==0.15.7
pytesseract==0.3.2
pytz==2019.3
PyYAML==5.4
six==1.14.0
sqlparse==0.3.1
Werkzeug==0.16.1
wrapt==1.11.2
gevent
gunicorn==20.0.4
